<div class="new-todo">
    <mat-form-field>
        <input matInput placeholder="Add new task" #newtaskinput>
    </mat-form-field>
    <button [disabled]="newtaskinput.value === ''" mat-raised-button color="primary" (click)="addTodo(newtaskinput.value); newtaskinput.value = ''">
        <i class="material-icons">add</i>
        Add
    </button>
</div>

<mat-card class="todo-container">
    <mat-paginator [length]="todos.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page" (page)="getPaginatorData($event)"></mat-paginator>
    <mat-list>
        <mat-card class="todo-item-container" *ngFor="let todo of todoList$ | async">
            <mat-list-item  [class.complete]="todo.completed">
                {{todo.todo}}
            </mat-list-item>
            <mat-checkbox (click)="changeStatus(todo)" [checked]="todo.completed"></mat-checkbox>
			<button class="material-icons" [disabled]="todo.completed" (click)="editTodo(todo)" matTooltip="Edit task" aria-label="Edit task">
                edit
            </button>
			<button class="material-icons" (click)="removeTodo(todo)" matTooltip="Delete task" aria-label="Delete task">delete</button>
        </mat-card>
    </mat-list>
</mat-card>

<router-outlet></router-outlet>

