h1 {
    color: #5e96ca;
    font-size: 2.3em;
    justify-content: left;
    display: flex;
    margin: 0;
}

.error {
    color: red;
    margin-bottom: 30px;
    width: 40vw;
    text-align: justify;
}

input {
    margin: 30px 0 10px 0;
    width: 40vw;
    height: 20px;
    font-size: 1em;

    &.ng-invalid.ng-touched  {
        border: 2px solid red;
    }
}

.container-buttons {
    display: flex;
    justify-content: right;

    button {
        color: #fff;
        background: #5e96ca;
        font-size: 17px;
        transition: .2s ease-in;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        margin: 0 5px;
        height: 30px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background: #00315f;
            color: #ffffff;
        }
    }
}