<div class="form" [formGroup]="form" novalidate>
    <h1>Edit Todo</h1>
    <input type="text" formControlName="updatedTodo" />
    <div class="error" *ngIf="updatedTodo?.errors?.['maxlength']">
        You have exceeded the maximum number of {{updatedTodo?.errors?.['maxlength'].requiredLength}} 
        {updatedTodo?.errors?.['maxlength'].actualLength, plural, =1 {character} other {characters}} in this field.
        You entered {{updatedTodo?.errors?.['maxlength'].actualLength}} 
        {updatedTodo?.errors?.['maxlength'].actualLength, plural, =1 {character} other {characters}}.
    </div>
    <div class="error" *ngIf="updatedTodo?.errors?.['required']">
        This field is required.
    </div>
    <div class="container-buttons">
        <button type="button" (click)="close()">
            Cancel
        </button>
        <button [disabled]="form.invalid" type="submit" (click)="updateTodo(form.value.updatedTodo)">
            Save
        </button>
    </div>
</div>