.todo-container {
    background-color: #bfdef3;
    width: 50%;
    margin: 30px auto;
    min-width: 300px;

    .mat-paginator {
        background-color: #bfdef3;
    }

    .todo-item-container {
        background-color: #fff;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 7px;

        .mat-list-item {
            min-height: 48px;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
        }

        .material-icons {
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
        }
    }

    .complete {
        text-decoration: line-through;
    }

    .mat-checkbox {
        margin-right: 5px;
    }
}

.first-todo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
