<div class="add-todo">
    <div class="new-todo" [formGroup]="form" novalidate>
        <mat-form-field>
            <input matInput placeholder="Add new task" formControlName="newTodo">
        </mat-form-field>
        <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="addNewTodo(form.value.newTodo); this.form.reset();">
            <i class="material-icons">add</i>
            Add
        </button>
    </div>
    <div class="error" *ngIf="newTodo?.errors?.['maxlength']">
        You have exceeded the maximum number of {{newTodo?.errors?.['maxlength'].requiredLength}}
        {newTodo?.errors?.['maxlength'].actualLength, plural, =1 {character} other {characters}} in this field.
        You entered {{newTodo?.errors?.['maxlength'].actualLength}} 
        {newTodo?.errors?.['maxlength'].actualLength, plural, =1 {character} other {characters}}.
    </div>
</div>